<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- import css -->
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">


</head>

<body>
    <div class="main__login">
        <div class="contenedor__login">
            <form action="" class="recuperar_password">
                <div class="titulo_login">
                    <a>ProyectoWeb</a>
                    <p> <span>Para acceder a su cuenta de Usuario,
                        </span>
                        <span> ingrese la identificación de correo electrónico que proporcionó durante el proceso
                            de registro.</span>
                    </p>
                </div>
                <div class="texto__login">
                    <label for="">Email</label>
                    <input type="text">
                </div>
                <div class="button__login">
                    <input type="submit" value="enviar">
                </div>
            </form>
        </div>
    </div>
    <script src="../sbootstrap/js/bootstrap.js"></script>
</body>

</html>