<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- import css -->
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/alertas.css">

</head>

<body>
    <div class="main__login">
        <div class="contenedor__login">
            <form action="/autenticacion/recuperar/contrasena" method="post" class="recuperar_password">
                <div class="titulo_login">
                    <a>ProyectoWeb</a>
                    <p> <span>Para acceder a su cuenta de Usuario,
                        </span>
                        <span> ingrese la identificación de correo electrónico que proporcionó durante el proceso
                            de registro.</span>
                    </p>
                </div>
                <div class="texto__login">
                    <label for="">Ingrese su Numero de documento</label>
                    <input type="text" name="documento_usuario">
                </div>
                <div class="button__login">
                    <input type="submit" value="enviar">
                </div>
            </form>
        </div>
    </div>
    <div th:if="${mensajeOk != null}" class="alerta">
        <div class="contenedor_alerta_ok alert-success ">
            <a><i class="bi bi-check2-all"></i></a>
            <p th:text="${mensajeOk}"></p>
        </div>
    </div>
    <div th:if="${mensajeError != null}" class="alerta">
        <div class="contenedor_alerta_error alert-danger ">
            <a><i class="bi bi-x-octagon"></i></a>
            <p th:text="${mensajeError}"></p>
        </div>
    </div>
    <script src="../sbootstrap/js/bootstrap.js"></script>
</body>

</html>